@import url("normalize.css");
/* Formatação cabeçalho */
body {
  width: 100%;
  margin: 0;
  background-color: #000;
}

header {
  background-color: #000;
  color: #FFF;
  width: 100%;
  position: relative;
  margin: 0;
}

figure.logo img {
  display: block;
  margin: 0 auto;
}

/* formatação do menu */

nav#main-menu {
  display: block;
  border-top: 1px #FFF solid;
  border-bottom: 3px #b8892dd9 solid;
  margin: 0 auto;
  }

nav#main-menu ul {
  list-style: none;
  text-transform: uppercase;
  text-align: center;
  }

nav#main-menu li {
  display: inline-block;
  padding: 10px;
  margin: 3px;
  border-top: -1px transparent solid;
}

nav#main-menu a.active {
  color:#b8892dd9;
  text-decoration: none;
  border-top: 1px #b8892dd9 solid;
}

nav#main-menu a {
  color: #FFF;
  text-decoration: none;
  padding: 15px 20px 0;
}

nav#main-menu a:hover {
  color:#b8892dd9;
  text-decoration: none;
}

/* Formatação do meio*/

div.content h2 {
  font-family: Georgia, serif;
  font-size: 23px;
  font-weight: 400;
  text-transform: uppercase;
}

div.content h3 {
  font-family: Georgia, serif;
  font-size: 15px;
  font-weight: 400;
}

figure {
  margin: 0;
  position: relative;
}
figure.background-image img {
  width: 100%;
  position: relative;
  margin: 0;
}

figure.background-image figcaption {
  position: absolute;
  bottom: 100px;
  background-color: #b8892dd9;
  width: 100%;
  text-align: center;
  padding: 80px;
}

/*  Formatação do rodapé*/

footer {
  background-color: #000;
  width: 100%;
  padding: 25px 150px;
}

footer:after {
  display: block;
  clear:both;
  content:"";
}

footer p {
color: #fff;
text-align: center;
}

div#copyright {
width: 50%;
float: left;
margin-bottom: 0px;
margin: 0 auto;
padding-top: 10px;
}

aside#info {
  float: right;
  width: 50%;
}

div#left-aside {
  float: left;
  margin: 0 auto;
  width: 70%;
}

aside#right-aside {
  float: right;
  width: 30%;
}

img#facebook {
width: 40px;
margin: 0 auto;
display: inline-block;
}

img#linkedin {
  width: 40px;
  margin: 0 auto;
  display: inline-block;
}

@media(max-width:768px){
  figure.background-image figcaption {
    position: absolute;
    bottom: 80px;
    background-color: #b8892dd9;
    width: 100%;
    text-align: center;
    padding: 18px;
  }
}

footer {
background-color: #000;
width: 100%;
float: inherit;
}